<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.synthesisClass.mapper.DocumentMapper">
	<insert id="insertAddDocument" parameterType="com.example.synthesisClass.dto.Document">
		INSERT INTO document (
			id, title, content, writedate
		) values (
			#{id}, #{title}, #{content}, now()
		)
	</insert>
	
	<!-- 리스트 -->
	<select id="selectDocumentList" parameterType="com.example.synthesisClass.dto.Page" resultType="com.example.synthesisClass.dto.Document">
		SELECT NO, id, title, writedate, status
		FROM document
			<where>
				<if test="searchWord != null and searchWord != ''">
					<choose>
						<when test="searchType == 'title'">
							AND title LIKE CONCAT('%', #{searchWord}, '%')
						</when>
						<when test="searchType == 'id'">
							AND id LIKE CONCAT('%', #{searchWord}, '%')
						</when>
						<otherwise>
							AND (title LIKE CONCAT('%', #{searchWord}, '%') OR id LIKE CONCAT('%', #{searchWord}, '%'))
						</otherwise>
					</choose>
				</if>
			</where>
		ORDER BY id
		LIMIT #{BeginRow}, #{rowPerPage}
	</select>
	
	<!-- 검색 -->
	<select id="totalCount" parameterType="com.example.synthesisClass.dto.Document" resultType="int">
		SELECT COUNT(*) FROM document
	    <where>
	        <if test="searchWord != null and searchWord != ''">
				<choose>
					<when test="searchType == 'title'">
						AND title LIKE CONCAT('%', #{searchWord}, '%')
					</when>
					<when test="searchType == 'id'">
						AND id LIKE CONCAT('%', #{searchWord}, '%')
					</when>
					<otherwise>
						AND (title LIKE CONCAT('%', #{searchWord}, '%') OR id LIKE CONCAT('%', #{searchWord}, '%'))
					</otherwise>
				</choose>
			</if>
	    </where>
	</select>
	
	<!-- 리스트 상세보기 -->
	<select id="selectDocumentOne" parameterType="com.example.synthesisClass.dto.Document" resultType="com.example.synthesisClass.dto.Document">
		SELECT no, id, title, content, writedate
		FROM document
		Where no = #{no}
	</select>
	
	<!-- 수정하기 -->
	<update id="modifyDocument" parameterType="com.example.synthesisClass.dto.Document">
	    UPDATE document
	    SET title = #{title},
	        content = #{content}
	    WHERE no = #{no}
	</update>
	
	<!-- 삭제하기 -->
	<delete id="deleteDocument" parameterType="com.example.synthesisClass.dto.Document">
		DELETE  
		FROM document
		WHERE no = #{no}
	</delete>
	
    <select id="selectDocumentByNo" parameterType="int" resultType="com.example.synthesisClass.dto.Document">
        SELECT no, title, content, id, writedate, admin_signed, owner_signed
        FROM document
        WHERE no = #{docNo}
    </select>

</mapper>